.Button{
   padding: 12.5px;
   width: 100%;
   border-radius: 52px;
   cursor: pointer;
   padding: 10px;
   margin-top: 30px;
   transition: none;
}

.Button:active{
    background-color: green;
}

.Button[variant="primary"]{
    background-color: var(--red);
    color: white;
    border: solid var(--red) 2px;
}

.Button[variant="outline-primary"]{
    background-color: var(--background-primary);
    color: var(--red);
    border: solid var(--red) 2px;
}

.Button[variant="outline-primary"]:hover{
    background-color: var(--red);
    color: var(--background-primary);
}


@media only screen and (max-width: 900px) {
    .Button{
        width: 70vw;
    }
    
  }