.PokemonSearch{
    overflow-x: hidden;
}

/* 

@media(max-width: 600px){
    .PokemonSearch header {
        min-height: 250px;
    }

    .PokemonSearch header .title h1{
        margin: 0;
        font-size: 32px;
    }

    .PokemonSearch header .search{
        display: none;
    }
} */